@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    /*Allows vertical scrolling on the website where off-screen content would otherwise be inaccessible*/
    overflow-y: scroll;
    overflow-x: hidden;
}

/*Asterisk overrules default styling*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F8F8F3;
    /*Change font on page*/
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    background-color: #4EA1C3;
    /*Puts space between header's child elements*/
    display: flex;
    justify-content: space-between;
}

h1 {
    padding: 10px;
}

#menu-icon {
    padding-right: 15px;
    padding-top: 15px;
}

.burger-icon {
    /*Changes menu icon size*/
    font-size: 30px
}

.burger-icon:hover {
    /*Changes menu icon size*/
    color: #F8F8F3;
}

nav {
    padding: 10px;
    position: absolute;
    background-color: #4EA1C3;
    right: 0;
    top: 55px;
    z-index: 10;
    display: none;
}

ul {
    /*Removes bllet points from menu items*/
    list-style: none;
}

a {
    /*Changes the color of links*/
    color: black
}

.active-page {
    /*Changes the color of the link corresponding to the active page*/
    color: #474747;
}

#toggle-menu {
    display: none;
}

/*Shows menu when icon is clicked*/
#toggle-menu:checked~nav {
    display: block;
}

.header-positioning {
    /*Keeps header content side by side*/
    display: inline-block;
}

main {
    background-color: #F8F8F3;
}

article {
    /*Sets width of article containers so they do not span the entire width of the page*/
    width: 40%;
}

#hero-image {
    /*Hero image on home page is prevented from duplicating; it is centered and made to fit its container*/
    background: url("../images/pushup.webp") no-repeat center center/cover;
    height: 370px;
    width: 100%;
}

/*Styling for the section which explains what bodyweight exercise is*/
#what {
    margin: 15px;
    padding: 20px;
}

/*Styling for the section which explains what the benefits of bodyweight exercise are*/
#why {
    margin: 15px;
    padding: 20px;
}

#homepage-video {
    margin: 25px;
    padding: 25px;
    width: 560px;
}

#form-style {
    padding: 30px;
}

/*Style fieldset element*/
#info-box {
    padding: 20px;
    max-width: 300px
}

footer {
    width: 100%;
    background-color: #4EA1C3;
    /*Fixes footer to the bottom of the screen*/
    position: fixed;
    bottom: 0px;
}

#footer-icons {
    padding: 20px 10px;
    /*Centers icons in the footer and spaces them evenly*/
    display: flex;
    justify-content: space-evenly;

}

.footer-list-item {
    /*Maintain space between icons when the screen size getss smaller*/
    padding-right: 15px;
}

/*Styles the notice in the footer about the educational purpose of the site*/
#footer-message {
    padding-top: 10px;
}

.icon {
    /*Alter the font-awesome icons' size*/
    font-size: 40px;
}

#footer-icons li {
    /*Places icons in a row*/
    float: left;
    display: inline;
}
